<ion-view title="{{listname}}">
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="item in tracks" class="list card">
                <div class="item item-avatar">
                    <img src="{{item.track.album.images[0].url}}">
                    <h2>{{item.track.name}}</h2>
                    <p>{{item.track.artists[0].name}}</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="playTrack(item)">
                        <i class="icon ion-music-note"></i>
                        Play Preview
                    </a>
                    <a class="tab-item" ng-click="openSpotify(item.track.external_urls.spotify)">
                        <i class="icon ion-share"></i>
                        Open in Spotify
                    </a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
 
    <ion-footer-bar align-title="left" class="bar-light" ng-show="audio.src">
        <button class="button button-outline button-balanced" ng-click="play()"><i class="ion-play"> Play</i></button>
        <button class="button button-outline button-balanced" ng-click="stop()"><i class="ion-stop"> Stop</i></button>
    </ion-footer-bar>
</ion-view>